# fly.toml app configuration file generated for img2excel on 2023-10-19T15:03:29+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "img2excel"
primary_region = "hkg"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
